@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

/**********BODY STYLING***************/

/*html {
		max-width: 90%;
		margin: auto;
		background-color: black;
}*/

body * {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

body {
	/*background-color: #535a61;*/
	/*background-color: #7c7c7f;*/
	background-image: url('../images/58_L-Intestine_aSMA.JPG');
	background-size: 100%;
/*	height: 100%;*/

/*	background-repeat: no-repeat;*/
}

/*#container {
	min-height: 100%;
	position: relative;
	clear: both;
}*/




.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

a {
	text-decoration: none;
	color: inherit;
}


/*****************HEADER****************/


header h1 {
	display: inline-block;
	margin: 0;
}

header {
	color: #ffffff;
	background-color: #2323cd;
	padding: 20px 20px;
	border-bottom: 2px solid #83fa4c;
	box-shadow: 2px 2px 5px black;
}

form {
	float: right;
	margin-top: 7px;
}

input {
	border-radius: 10px;
	padding-left: 10px;
	height: 30px;
	border: 1px solid black;
	border-radius: 15px;
}

/******************NAV********************/

/***HAMBURGER MENU******/

#hamburger {
  	float: right;
  	width: 40px;
  	height: 38px;
  	position: relative;
  	margin: 4px 4px;
  	transform: rotate(0deg);
  	transition: .5s ease-in-out;
  	cursor: pointer;	
}

#hamburger span {
	display: block;
  	position: absolute;
  	height: 7px;
  	width: 100%;
  	background: black;
  	border-radius: 9px;
  	opacity: 1;
  	left: 0;
  	transform: rotate(0deg);
  	transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 28px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px;
  left: 8px;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 32px;
  left: 8px;
}




/**********************/

#pathwayList li {
	margin: 0% 0%;
	height: 45px;
	text-align: left;
	vertical-align: center;
	padding: 0% 15%;
	/*line height fixes vertical centering of text!!!*/
	line-height: 1.8;
	clear: both;
}

#pathwaylist:firstchild {
	margin-top: 10%;
}

nav {
	float: left;
	width: 20%;
	height: auto;
	background-color: #ffffff;
	box-shadow: 2px 2px 5px black;
/*	border-radius: 0px 0px 5px 0px;*/
}

#pathwayList {
	list-style: none;
	font-size: 1.5em;
	margin: 0;
	padding: 0;

}

nav .pathway:hover {
	background-color: #d1d1d1;
}

.active {
	background-color: black;
	color: white;

}

/********TO CLOSE SIDE BAR*********/
nav.close {
	width: auto;

}

#pathwayList.close {
	display: none;

}



/******************MAIN*******************/
main {
	margin: 0;
	float: left;
	width: 80%;
}



section {
	float: left;
/*width changed from 70% to 60% to make image smaller*/	
	width: 65%;
	padding: 20px 25px;
	color: white;
}

section h2 {
	text-align: center;
}

.background-image {
	display: block;
	width: 100%;
	height: auto;
	background-color: white;
	padding: 10px;
	box-shadow: 5px 5px 5px black;
	border: 2px solid black;
}

/******Clickable Proteins*******/
img {
	width: 100%;
	height: auto;

}


figcaption {
	float: left;
	width: 35%;
	padding: 0px 25px 0px 0px;
	margin: 11% 0%;
}

figcaption p {
	display: none;
	color: white;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, .7);
	/*box-shadow: 5px 5px 5px black;*/
	margin: 0;
	padding: 5px;
	font-weight: 300;
	/*border-radius: 0px 0px;*/
}

/*permanent caption for homepage only*/
#permanent {
	margin-top: 5%;
	display: block;
}



/****************FOOTER*************/
/*footer {
	clear: both;
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
}


footer p {
	float: left;
	font-size: 0.6em;
	color: white;
	margin-left: 5%;
}*/

/************FOR JAVASCRIPT******************/
p.displayswitch {
	display: block;
}

/**********ADAPTIVE MEDIAQUERY************/
@media only screen and (max-width: 800px) {

header {
	font-size: 0.7em;
	padding: 10px 10px; 
}

form {
	margin-top: 0;
	font-size: 1em;
}


nav, nav.close {
	width: 100%;
}

main {
	width: 100%;
}

section {
	width: 65%;
}

figcaption {
	width: 35%;
	font-size: 1em;
}

}



@media only screen and (max-width: 550px) {


header form {
	display: none;
}

}
